.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}
.header-section {
  margin-bottom: 40px;
}
.filter-bar {
  display: flex;
  gap: 15px;
  background: white;
  padding: 15px;
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  border: 1px solid #e2e8f0;
}

select {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  background: #f1f5f9;
  cursor: pointer;

}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.product-card {
  background: var(--card-bg);
  border-radius: var(--radius);
  padding: 20px;
  border: 1px solid #e2e8f0;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
  border-color: var(--primary);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.btn-view {
  margin-top: 10px auto;
  background: var(--text-main);
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  transition: var(--transition);
}
.btn-view:hover {
  background: var(--primary);
}



